
html{
    width: 100%;
    height: 400%; 
}
body{
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
header{
    width: 100%;
    box-shadow: 0 0 5px;
}
.nav{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 170, 219) ;
    box-shadow: 0 0 15px;
    position: fixed; 
    z-index: 100; 
}

.logo{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: auto;
    height: 100%;
}
.logo a{
    width: 100%;
    height: 100%;
}
.conteiner-li {
    width: 50%;
    height: 100%;
}
.conteiner-li ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0%;
    padding: 0%;
    border: 1px solid red;
}
.list{
    width:20%;
    height: 75%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list a{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:  rgb(255, 255, 255) ;
    transition: all 0.25s ease-in-out;
    letter-spacing: 1px;
    font-size: 1.5vw;
    
}
    
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    width: 100%;
    height: 25%;
}

footer{
    width: 100%;
    height: 1%;
    display: flex;
    justify-content: center;
    align-items: end;  
}
.conteiner-data-f{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items: center;
    color: #ffffff; 
}

.conteiner-aboutMe{
    width: 100%;
    height: 100%;
}

/*************************************************/

.conteiner-Scarrucel{
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 5px;
}
.conteiner-Scarrucel ul{
    display: flex;
    width: 400%;
    height: 120%;
    padding: 0;
    margin: 0;
    animation: slide 20s infinite alternate ease-in-out;
}


.conteiner-Scarrucel li{
    width: 100%;
    height: 100%;
    list-style: none;
    position: relative;
    box-shadow: 0 0 5px;
 
}

.texto {
    width: 100%;
    height: 100%;
    position: absolute;
    left:0%;
    top:0%;
    background-color: rgb(0, 0, 0,0.5);
    color: #ffffff;
}


.texto h2{
    width:95%;
    height: 20%;
    display: flex;
    align-items: center;
    font-size:7vw;
    word-spacing: -2px;  
    margin: 10%  0 0 10%;
}

.texto p{
    width: 95%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0%;
    font-size: 3vw;
    margin-left: 10%; 
}

.conteiner-a {
    width: 15%;
    height: 10%;
    display: flex;
    align-items: center;
    margin-left: 10%;
    font-size: 1.5vw;
} 

.conteiner-a a{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 40px;
    letter-spacing: 1px;
    background-color:  rgb(117, 170, 219) ;
    border :1px solid #ffffff; 
    color: #ffffff;
      
}

.conteiner-Scarrucel img{
    width: 100%;
    height: 90%;
    animation: img 20s  infinite alternate ease-in-out;
        
}
@keyframes slide {
    
    0%{margin-left: 0%; }
    20%{margin-left: 0%;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@keyframes img{
    
    0%{width: 100%;height: 100%;}
    20%{width: 110%;height: 110%;}
    
  
    25%{width: 110%;height: 110%;}
    45%{width: 100%;height: 100%;}
    
    50%{width: 100%;height: 100%;}
    70%{width: 110%;height: 110%;}

    75%{width: 110%;height: 110%;}
    100%{width: 100%;height: 100%;}
    
}
/*********************************************/
.conteiner-contact{
    width: 100%;
    height: 50%;
    display: flex;
    box-shadow: 0 0 15px;
    background-color:  rgb(117, 170, 219,0.971) ;
    overflow: hidden;
}

.conteiner-inp{
    width: 100%;
    height:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-inp input{
    width: 80%;
    height: 30%;
    padding:0 5px;
    border:none;
    outline: none;
    border-bottom:1px solid #000000;
}


.conteiner-inp label{
    width: 80%;
    height: 30%;
    font-size: 20px;
    text-align: center;
}
textarea{
    width: 80%;
    height: 100%;
    border-radius: 5px;
    padding:5px 5px;
}
#btn{
    width: 30%;
    height: 45%;
    background-color:  rgb(117, 170, 219) ;
    border: 1px solid rgb(0, 0, 0, 0.4) ;
    border-radius: 50px;
    color: #ffffff;
    letter-spacing: 2px;
    cursor: pointer;
}
/***********************************************/
.conteiner-services{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 8%;
    border: 1px solod red;
}

.grid{
    width: 200px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #ffffff;
    color: #00529c;
    box-shadow: 0 0 5px;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
    
}
#block-1{
    background-color: #e12c26;
    color: #ffffff;
}
#block-2{
    background-color: #ffffff;
    color: #e12c26;
}
#block-3{
    background-color: #00529c;
    color: #ffffff;
}
#block-4{
    background-color: #ffffff;
    color: #000000;
}
#block-5{
    background-color: #ffd23d;
    color: #ffffff;
}
#block-8{
    background-color: #000000;
    color: #ffffff;
}
#block-7{
    background-color:  rgb(117, 170, 219) ;
    color: #ffffff;
}
.conteiner-i{
    width: 100%;
    height: 40%;
    display: grid;
    place-content: center;
    font-size: 48px;
}

.grid h3{ 
    width: 100%;
    height: 15%;
    display: grid;
    text-align: center;
    place-content: center;
    font-size: 1.4vw;
}
.grid p{ 
    width: 90%;
    height: 40%;
    display: grid;
    place-content: center;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-size: 1.1vw;
    margin: 0;
}
.grid a{
    width: 100%;
    height: 100%;
    display: grid; place-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    transition: all 0.25s ease-in-out;
}
.grid a i{
    display: grid;
    place-content: center;
    font-size: 30px;
    color: #ffffff;
}
/*********************************************/
.mansalva-regular {
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.quicksand-uniquifier{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.rubik-uniquifier {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/*********************************************/

#Scontact{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(./image/learnspanish.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;   
    background-position: 50% 50%;   
}
.conteiner-services-t{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2vw;
    color: rgba(255, 255, 255);
    background-color: #00529c;
    background-color:  rgba(0, 92, 179, 0.462) ;
}
#Sservices{
    display: flex;
    flex-direction: column;
    border: 1px  rgb(117,170,219);
    background-image:url(./image/pexels-peter-olexa-2214257-4012966.jpg);
    background-position: 50% 100%  ;
    background-repeat: no-repeat;
    background-size: 100% 110% ;
    box-shadow: 0 0 5px;
}
.conteiner-imgC ,.conteiner-descripcion{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;  
    color: #ffffff;
}
.conteiner-imgC img{
    width: auto;
    height: 90%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.conteiner-descripcion h2{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vw ;
    margin: 0;
    padding: 0;    
}
.conteiner-descripcion p{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 1.8vw;
}
.conteiner-descripcion p span{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;  
}
.conteiner-descripcion p span i{ 
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.conteiner-redes{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    box-shadow: 0 0 3px;
    
}
.redes{
    width: 33.33%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.971);
    color: #000000;
    letter-spacing: 1px;
}
.redes img{
    width:50px;
    height: 50px;
    transition: all 0.25s ease-in-out;
}

/****************************************/
.icono-what{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(	37,211,102);
    top: 83%;
    left: 92%;
    border-radius:50%;
    transition: all 0.25s ease-in-out;
}



.icono-what img{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/*********************************************/
.list a:hover, .icono-what:hover, .redes img:hover,.grid a:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#block-7:hover{
    transform: scale(1.2);
    background-color: #0aaa07;
}


/*************************************************/
.conteiner-aboutMe{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteiner-descripcion-t{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2vw;
    color: rgb(0, 0, 0, 0.7);
    border: 1px solid red;
}
.conteiner-testimonio{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.conteiner-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.conteiner-img-testimonios{
    width: 30%;
    height: 75%;
    display: flex;
    margin: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0,0.2); 
}
.img-testimonio{
    width: 95%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    border-bottom-right-radius: 50%;
}

.conteiner-img-testimonios img{
    width: 120px;
    height:120px;
    border-radius: 50%;
    box-shadow: 0 0 8px;
    margin-bottom: 50%;
}
.conteiner-data-testimonios{
    width: 100%;
    height:60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #000000;
    font-size: 12px;
}

.conteiner-data-testimonios p{
    width: 90%;
    height:80%;
    display: flex;
    text-align: justify;
    align-items: center;
    color: #000000;
    font-size: 1.2vw;
    padding: 0px 15px 0px 15px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);
    margin: 0;
}
.conteiner-t-data-testimonios {
    width: 100%;
    height:25%;
}
.conteiner-t-data-testimonios h2{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}


/*********************************************/



#bandera-alemana{
    
    background-image: url(./image/banderaalemana2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}
#bandera-francesa{
    background-image: url(./image/banderafrancia2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#bandera-eeuu{
    background-image: url(./image/bandereeuu2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/******************************************************/
.conteiner-form{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.349);
    top: 8%;
    right: 0%;
}
.closeform{
    display: none;
}

.form{
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 20px;  
    overflow: hidden;
    box-shadow: 0 0 3px;
}
.form i{
    width: 95%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 20px;
 
}
.form h2{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin: 0;
    padding: 0;
}
.form input {
    width: 80%;
    height: 7%;
    margin: 2%;
    padding-left:10px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
}
/********************************************/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }
/*********************************************/
.form textarea {
    width: 80%;
    height: 25%;
    margin: 2%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.349);
}
button {
    width: 80%;
    height: 7%;
    border: none;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color:  rgb(117, 170, 219) ;
    border: 1px solid #00529c;
}

/**********************************************************************/
/*Escritorio*/
@media (min-width: 1199.98px)  {

}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body{background: rgb(200, 140, 198);}

/***section 1***/
/***fin section 1***/

/***section 2***/
.conteiner-img-testimonios{
    width: 100%;
    height: 30%;
    flex-direction: row;
}
.img-testimonio{
    width: 50%;
    height: 90%;
}
.conteiner-img-testimonios img{
    width: 100px;
    height:100px;
}
.conteiner-data-testimonios {
   height: 100%;
}
.conteiner-data-testimonios p{
    font-size: 1.5vw;
}
.conteiner-testimonio{
    flex-direction: column;
}

/***fin section 2***/

/***section 3***/
.conteiner-services{
    grid-gap: 4%;
}
.conteiner-services{
    grid-gap: 4%;
}
.conteiner-services{
    place-content: none;
    grid-template-columns: 150px 150px 150px ;
}
.grid{
    width: 120px;
    height: 120px;
}

.grid p{
    display: none;
}


/***fin section 3***/

/***section 4***/


.conteiner-descripcion h2{
    font-size: 5vw ; 
}
.conteiner-descripcion p{
    font-size: 2.5vw;
}
.conteiner-imgC {
    width: 60%;

}
.conteiner-descripcio{
    width: 40%;

}

/***fin section 4***/





.icono-what{
    top: 83%;
    left: 80%;
}

}


/*landscape*/
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body{background: blue;}
}
/***section 1***/
/***fin section 1***/

/***section 2***/
/***fin section 2***/

/***section 3***/
.conteiner-services{
    grid-gap: 4%;
}

/***fin section 3***/

/***section 4***/
/***fin section 4***/

.icono-what{
    top: 83%;
    left: 91%; 
}

/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (min-width: 375.98px)and (orientation:portrait) {
    body{background: green;
    }
    html{
        height: 250%;
 
    }
    /***section 1***/


.conteiner-li ul{
   display: none;
}
.texto h2{
    justify-content: center;
    margin-top: 20%;
}

.texto p{
    justify-content: center;
 
}
.conteiner-a {
    width: 20%;
    font-size: 2vw;
    display: none;
} 

.conteiner-data-f{
    font-size: 2.5vw;
}

/***fin section 1***/

/***section 2***/
.conteiner-descripcion-t h2{
    font-size: 20px; 
}
.conteiner-img-testimonios{
    width: 100%;
    height: 30%;
    flex-direction: row;    
}
.img-testimonio{
    width: 25%;
    height: 90%;
    display: flex;
    justify-content: center;
    border-radius: 0;
    align-items: center;
 
}


.conteiner-img-testimonios img{
    width: 75px;
    height:75px;
}
.conteiner-data-testimonios {
   height: 100%;
}
.conteiner-data-testimonios p{
    font-size: 8px;
}
.conteiner-testimonio{
    flex-direction: column;
}

/***fin section 2***/

/***section 3************/
.conteiner-services-t{
    font-size: 16px; 
}
.conteiner-services{
    grid-gap: 3%;
}
.conteiner-services{
    place-content: none;
    grid-template-columns: 100px 100px 100px ;
}
.grid{
    width: 100px;
    height: 100px;
}

.grid p{
    display: none;
}
.grid i{
    font-size: 30px;
}
.grid h3{
    font-size: 13px;
}


/***fin section 3*************/


/***section 4***/
.conteiner-descripcion h2{
    text-align: center;
    font-size: 35px; 
}
.conteiner-descripcion p span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
 
}
.conteiner-imgC {
    width: 60%;
    display: none;
}
.conteiner-descripcion{
   width: 100%;
}
/***fin section 4***/
    .icono-what{
        top: 83%;
        left: 77%; 
    }

}
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    body{background: rgb(198, 211, 13);}
    html{
        height: 350%;
    }

/***section 1***/

.texto h2{
    justify-content: center;
    margin-top: 20%;
}

.texto p{
    justify-content: center;
 
}
.conteiner-a {
    width: 20%;
    font-size: 2vw;
    display: none;
} 



/***fin section 1***/

/***section 2***/
.conteiner-img-testimonios{
    width: 100%;
    height: 30%;
    flex-direction: row;
}
.img-testimonio{
    width: 50%;
    height: 90%;
}
.conteiner-img-testimonios img{
    width: 100px;
    height:100px;
}
.conteiner-data-testimonios {
   height: 100%;
}
.conteiner-data-testimonios p{
    font-size: 1.5vw;
}
.conteiner-testimonio{
    flex-direction: column;
}

/***fin section 2***/

/***section 3************/
.conteiner-services{
    grid-gap: 4%;
}
.conteiner-services{
    place-content: none;
    grid-template-columns: 150px 150px 150px ;
}
.grid{
    width: 120px;
    height: 120px;
}

.grid p{
    display: none;
}


/***fin section 3*************/


/***section 4***/
.conteiner-descripcion h2{
    font-size: 5vw ; 
}
.conteiner-descripcion p{
    font-size: 2.5vw;
}
.conteiner-imgC {
    width: 60%;

}
.conteiner-descripcio{
    width: 40%;

}
/***fin section 4***/

.icono-what{
    top: 83%;
    left: 87%; 
}

}
/*fin movil*/