
html{
    width: 100%;
    height: 420%; 
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
}
header{
    width: 100%;
    height: 5%;
}
    
main{
    width: 100%;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    width: 100%;
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: end;  
}

.classbtn{
    left: 75%;
    display: flex;
}

.nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 170, 219) ;
    box-shadow: 0 0 15px;
  /*  position: fixed; */
}



.logo{
    width: 50%;
    height: auto;
    display: flex;
}
.logo img{
    max-width: 370px;
    color: #fff; 
}
.logo a{
    width: 100%;
    height: 100%;
    
}

.conteiner-li {
    width: 50%;
    height: 100%;
}
.conteiner-li ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.list{
    width:19%;
    height: 75%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list a{
    max-width: 100%;
    max-height: 90%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color:  #fff ;
    transition: all 0.25s ease-in-out;
    letter-spacing: 2px;
    font-size: 14px;  
}
#test-nivelatorio{
    
    display: none;
}

.conteiner-btn-burger{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    display: none;
}
.conteiner-btn-burger i{
 max-width: 150px;
 max-height: 1550px; 
 display: flex;
 font-size: 45px;
 justify-content: center;
 align-items: center;
}

section{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer h4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 14px;
}
.conteiner-data-f{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items: center;
    color: #ffffff; 
}

.conteiner-aboutMe{
    width: 100%;
    height: 100%;
}

/*************************************************/

.conteiner-Scarrucel{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.conteiner-Scarrucel ul{
    display: flex;
    width: 400%;
    height: 100%;
    padding: 0;
    margin: 0;
    animation: slide 20s infinite alternate ease-in-out;
}


.conteiner-Scarrucel li{
    width: 100%;
    height: 100%;
    list-style: none;
    position: relative;
    box-shadow: 0 0 5px;
 
}

.texto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    left:0%;
    top:0%;
    background-color: rgb(0, 0, 0,0.5);
    color: #ffffff;
}


.texto h2{
    max-width:100%;
    max-height: 50%;
    display: flex;
    align-items: center;
    font-size:7vw;
    margin: 8%  0 0 10%;
}

.texto p{
    max-width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 3vw;
    margin: 5%  10%  5%  10% ;
}

.conteiner-a {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    margin-left: 10%;
    font-size: 18px;
} 

.conteiner-a a{
    width: 180px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 40px;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    background-color:  rgb(117, 170, 219) ;
    border :1px solid #ffffff; 
    color: #ffffff;
}

.conteiner-Scarrucel img{
    width: 100%;
    height: 90%;
    animation: img 20s  infinite alternate ease-in-out;  
}
@keyframes slide {
    
    0%{margin-left: 0%; }
    20%{margin-left: 0%;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@keyframes img{
    
    0%{width: 100%;height: 100%;}
    20%{width: 110%;height: 110%;}
    
  
    25%{width: 110%;height: 110%;}
    45%{width: 100%;height: 100%;}
    
    50%{width: 100%;height: 100%;}
    70%{width: 110%;height: 110%;}

    75%{width: 110%;height: 110%;}
    100%{width: 100%;height: 100%;}
    
}
/*********************************************/

.conteiner-inp{
    width: 100%;
    height:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-inp input{
    width: 80%;
    height: 30%;
    padding:0 5px;
    border:none;
    outline: none;
    border-bottom:1px solid #000000;
}


.conteiner-inp label{
    width: 80%;
    height: 30%;
    font-size: 20px;
    text-align: center;
}
textarea{
    width: 80%;
    height: 100%;
    border-radius: 5px;
    padding:5px 5px;
}
#btn{
    width: 30%;
    height: 45%;
    background-color:  rgb(117, 170, 219) ;
    border: 1px solid rgb(0, 0, 0, 0.4) ;
    border-radius: 50px;
    color: #ffffff;
    letter-spacing: 2px;
    cursor: pointer;
}
/***********************************************/
#Sservices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: 50% 100%  ;
    background-repeat: no-repeat;
    background-size: 100% 110% ;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 71%);
}

.conteiner-services-t{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.conteiner-services-t h2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0;
}
.container-services-all{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.conteiner-services{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grid{
    width: 20%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #ffffff;
    box-shadow: 0 0 2px #000;
    color: #00529c;
   
}
#block-1{
    background-color: #e12c26;
    color: #ffffff;
}
#block-2{
    background-color: #ffffff;
    color: #e12c26;
}
#block-3{
    background-color: #00529c;
    color: #ffffff;
}
#block-4{
    background-color: #ffffff;
    color: #000000;
}
#block-5{
    background-color: #ffd23d;
    color: #ffffff;
}
#block-8{
    background-color: #000000;
    color: #ffffff;
    
}
#block-7{
    background-color:  rgb(117, 170, 219) ;
    color: #ffffff;
}
.conteiner-i{
    width: 100%;
    height: 40%;
    display: grid;
    place-content: center;
    font-size: 48px;
}

.grid h3{ 
    width: 100%;
    height: 15%;
    display: grid;
    text-align: center;
    place-content: center;
    font-size: 20px;
}
.grid p{ 
    width: 90%;
    height: 40%;
    display: grid;
    place-content: center;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    margin: 0;
}
.grid a{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    transition: all 0.25s ease-in-out;
}
.grid i{
    display: grid;
    place-content: center;
    font-size: 35px;
}
/*********************************************/
.mansalva-regular {
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.quicksand-uniquifier{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.rubik-uniquifier {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.barlow-condensed-light {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
/*********************************************/
#Scontact{
    background-color: #000d;
    color: #fff;
}
.Scontact{
width: 100%;
height: 100%;
position: fixed;
top: 0;
background-repeat: no-repeat;
background-size: 100% 100%;
z-index: -100;
}

.Scontact img{
    width: 100%;
    height: 100%;
  }
.container-contact-title{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    margin: 0;
}
.container-contact-title h2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0;
   
}

.container-contact{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    margin: 0;  
}

.container-sendme-messenger{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;  
}
.container-data-extra{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-data-extra h4{
    width: 70%;
    height: 10%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(117, 170, 219);
}
.container-data-extra h3{
    width: 70%;
    height: 15%;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-size: 500;
    margin: 0;
}
.container-sendme-messenger h2{
    width: 70%;
    height: 40%;
    display: flex;
   text-align: center;
   justify-content: center;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 1px;
}
                
.container-data-extra-social-networld{
    width: 70%;
    height: 15%;
    display: flex;
}
.container-data-extra-social-networld a{
    width: 13%;
    height: 100%;
    text-decoration: none;
    color: #fff;
}
.container-data-extra-social-networld i{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
}
.container-data-extra-social-networld h4{
    width: 80%;
    height: 100%;
}

.container-sendme-messenger h4 i{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.container-form{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;  
}

.form{
    width:60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;  
    overflow: hidden;
}

.form h2{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin: 0;
    padding: 0;
}
.form input {
    width: 100%;
    height: 10%;
    margin: 2%;
    padding-left:10px;
    border-radius: 10px;
    color: #fff;
    font-size:16px;
    background-color: #0001;
    border: 1px solid #fff;
}
.form input::placeholder {
    color: #fffa;
    font-size:20px;
}
/********************************************/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }


 ::-webkit-scrollbar {
        display: none;
    }
/*********************************************/
.form textarea {
    width: 100%;
    height: 30%;
    margin: 2%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.349);
}
.form textarea::placeholder{
  padding-top: 5px;
  font-size: 14px;
}
button {
    width: 100%;
    height: 7%;
    border: none;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color:  rgb(117, 170, 219) ;
    border: 1px solid #00529c;
}

/****************************************/
.icono-what{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(	37,211,102);
    top: 83%;
    left: 91.5%;
    border-radius:50%;
    transition: all 0.25s ease-in-out;
}
.icono-what img{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.icono-test i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 42px;
    padding: 8px;
}

.icono-test{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    position: fixed;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid #0004;
    top: 65%;
    left: 91%;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
}
.icono-test h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
    font-size: 12px;
    color: #000;
    margin: 0;
}

/*********************************************/
.icono-what:hover, .redes img:hover,.grid a:hover,.icono-test:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.conteiner-a a:hover{
    width: 230px;
}

.conteiner-li ul li:hover {
    background-color: rgba(117, 170, 219) ;
  }
/*************************************************/
#SaboutMe{
    background: rgb(221,221,221);
    background: linear-gradient(180deg, rgba(255,255,255,1) 22%, rgba(255,255,255,1) 76%, rgba(0,0,0,0.8) 98%);
}

.containar-title-testimonio{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.containar-title-testimonio h2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0;
}
.conteiner-aboutMe{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-testimonios{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonio{
    width: 65%;
    height: 80%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;

}
.testimonio ul{
    width: 300%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
}

.testimonio ul li{ 
    width:97%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.testimonio ul li p{ 
    width: 85%;
    height: 60%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
}
.testimonio ul li h3{ 
    width: 100%;
    height: 10%;
    font-size: 19px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 1px;
    color: #02f;
    margin: 0;
}
.testimonio ul li h4{ 
    width: 100%;
    height: 10%;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    margin: 0;
}
.container-img{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-img img{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border-radius: 50%;
    box-shadow: 0 0 5px;
}
.btn-back{
    width: 50px;
    height: 100px;
    position: absolute;
    left: 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.btn-next{
    width: 50px;
    height: 100px;
    position: absolute;
    right: 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

/*********************************************/
#bandera-alemana{
    
    background-image: url(./image/banderaalemana2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}
#bandera-francesa{
    background-image: url(./image/banderafrancia2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#bandera-eeuu{
    background-image: url(./image/bandereeuu2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



/***********************************************************************************************************************/
/*Escritorio*/
/*Fin Escritorio*/
/*landscape*/
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body{background: blue;}
  
}

@media (min-width: 350.98px) and (max-width: 576px) and (orientation:portrait) {
    body{
    
    }
   
    html{
     
        height: 400%;
        margin: 0;
        padding: 0;
   
    }
    /*footer*/
    .conteiner-data-f h4{
        font-size: 11px;
    }
    /*****/

    #Scarrucel{
        height: 15%; 
    }
    #Sservices{
        height: 27%; 
    }
    #SaboutMe{
        height: 28%; 
    }
    #Scontact{
        height: 30%;  
    }
    .nav{
    flex-direction: column;
    display: none;
    }
    .logo{
        width: 100%;
        height: 50%;
    }
    .logo a{
        width: 100%;
        height: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 250px;
        height: 60px;
    }
    .conteiner-li { 
        width: 100%;
        height: 50%;
        margin: 0;
    }
    .texto h2{
        width: 100%;
        font-size:8vw;
        margin: 20%  0 0 8%;
    }
    .texto p{
        max-width: 100%;
        font-size: 3vw;
        }
    .conteiner-a {
        font-size: 10px;
    } 
    
    .conteiner-a a{
        width: 110px;
        height: 30px;
        
    }
   
/**nav**/
.conteiner-li ul { 
    width: 100%;
    height:30%;
    position: absolute;
    top: 19%;
    left:100%;
    flex-direction: column;
    background-color: rgba(117, 170, 219,0.8) ;
    display: none;
    z-index: 1;
 }
 .conteiner-btn-burger{
    display: flex;
   justify-content: center;
   align-items: end;
   color: #fff;
}
.conteiner-li ul li { 
    width: 100%;
    height: 100%;
    }

 /***fin nav ***/
/***section 1***/
   
/***fin section 1***/

/***section 2***/
.conteiner-aboutMe{
    height: 95%; 
}
.testimonio{
    width: 100%; 
    height: 80%; 
}
.containar-title-testimonio,.container-contact-title,.conteiner-services-t{
    width: 100%; 
    height: 5%;
}
.containar-title-testimonio h2,.container-contact-title h2,.conteiner-services-t h2{
    font-size: 30px;
    padding: 5px;
}
.testimonio ul li p{ 
    font-size: 11px;
   }
.btn-back{
    left: 3%;
    z-index: 1;
}
.btn-next{
    right: 3%;
    z-index: 1;
}


/***fin section 2***/

/***section 3************/
.container-services-all{
    display: flex;
    height: 95%;
    flex-direction: row;
}
.conteiner-services{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.grid{
    width: 100%;
    height: 50%;
}
.grid h3{ 
    font-size: 14px;
}
.grid p{ 
   display: none;
}
.grid  i{
    width: 100%;
    height: 100%;
    font-size: 30px;
   
}
/***fin section 3*************/
/***section 4***/
.container-contact{
    height: 100%;
    flex-direction: column;
    }
    
    .container-sendme-messenger {
      width: 100%;
      height: 50%;
      flex-direction: row;
    }
    .container-sendme-messenger h2{
        font-size: 30px;
    }
    .container-data-extra h4{
        width: 100%;
        font-size: 12px;
    }
    .container-data-extra h3{
        font-size: 18px;
    }
    .container-data-extra-social-networld a{
        width: 20%;
    }
    .container-data-extra-social-networld i{
        font-size: 20px;
    }
    .container-form{
        width: 100%;
        height:50%;
       align-items: center;
    }
    .form{
        width:90%;
        height: 100%;
        font-size: 20px;  
    }
    .form input {
        height: 15%;
        font-size:14px;
    }
    .form textarea {
        font-size:14px;
    }
    .form input::placeholder {
        color: #fffa;
        font-size:14px;
    }
    button {
        height: 15%;
        }
/***fin section 4***/
.icono-what{
    top: 83%;
    left: 75%; 
}
.icono-test{
    top: 65%;
    left: 75%; 
}
}
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    body{background: rgb(211, 181, 13); 
}
html{
    height: 400%; 
    margin: 0;
}

/****nav***/
.conteiner-li ul { 
    width: 100%;
    height:30%;
    position: absolute;
    top: 19%;
    left:100%;
    flex-direction: column;
    background-color: rgba(117, 170, 219,0.8) ;
    display: none;
    z-index: 1;
 }

.conteiner-li ul li { 
  width: 100%;
  padding-left: 10px;
  justify-content: start;
  }
  .conteiner-li ul li a{ 
    width: 100%;
    height: 100%;
}

  .conteiner-btn-burger{
    display: flex;
    color: #fff;
    overflow: hidden;
}
.conteiner-btn-burger i {
    padding: 5px;
    margin-right: 3%;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
     cursor: pointer;
}
.conteiner-btn-burger i:hover {
    background-color: #fff4;
}
.conteiner-btn-burger i:active {
    transform: scale(0.98);
    background-color: #fff;
}

/****fin de nav**/
/***section 1***/

/***fin section 1***/
/***section 2***/
.testimonio{
    width: 100%;    
}
.btn-back{
    left: 0%;
}
.btn-next{
    right: 0%;
}
/***fin section 2***/

/***section 3************/
.conteiner-services{
    width: 100%;
    height: 50%;
    gap: 5px;
}
.grid{
    width: 25%;
    height: 80%;
}
.grid h3{ 
 
    font-size: 16px;
}
.grid p{ 
    font-size: 12px;
}

/***fin section 3*************/

/***section 4***/
.container-sendme-messenger h2{
    font-size: 45px;
}
.container-data-extra h4{
    font-size: 14px;
}
.container-data-extra h3{
    font-size: 18px;
}
.container-data-extra-social-networld a{
    width: 20%;
}
.container-data-extra-social-networld i{
    font-size: 20px;
}
.container-form{
    margin: 0;  
    justify-content: start;
}
.form{
    width:75%;
    font-size: 20px;  
}

.form input::placeholder {
    color: #fffa;
    font-size:16px;
}
button {
height: 10%;
margin: 5%;
}
/***fin section 4***/
.icono-what{
    top: 83%;
    left: 87%; 
}
.icono-test{
    top: 65%;
    left: 87%;
}
}

@media (min-width: 1199.98px)  {

}
/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body{background: rgb(233, 10, 225);
    }
    html{
        height: 400%; 
        margin: 0;
    }
   
    #Scarrucel{
        height: 20%; 
    }
    #Sservices{
        height: 25%; 
    }
    #SaboutMe{
        height: 25%; 
    }
    #Scontact{
        height: 30%; 
      
    }
    
  
    /*************nav******************/
    .conteiner-li ul { 
        width: 100%;
        height:30%;
        position: absolute;
        top: 19%;
        left:100%;
        transition: all 1s ease-in-out;
        flex-direction: column;
        background-color: rgba(117, 170, 219,0.8) ;
        z-index: 1;
        display: none;
     }
    .conteiner-li ul li { 
      width: 100%;
      padding-left: 10px;
      justify-content: start;
      }

      .conteiner-li ul li a{ 
        width: 100%;
        height: 100%;
        }
   
      .conteiner-btn-burger{
        display: flex;
        color: #fff;
        overflow: hidden;
    }
    .conteiner-btn-burger i {
        padding: 5px;
        margin-right: 3%;
        border-radius: 50%;
        transition: all 0.5s ease-in-out;
         cursor: pointer;
    }
    .conteiner-btn-burger i:hover {
        background-color: #fff4;
    }
    .conteiner-btn-burger i:active {
        transform: scale(0.98);
        background-color: #fff;
    }
    /****************fin nav*************/

 


/***section 1***/
/***fin section 1***/

/***section 2***/
.testimonio{
    width: 100%;    
    height: 100%;
}
.btn-back{
    left: 0%;
    
}
.btn-next{
    right: 0%;
}


/***fin section 2***/

/***section 3***/
.conteiner-services{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.grid{
    width: 25%;
    height: 80%;
    gap: 0px;

}
.grid h3{ 
    font-size: 14px;
}
.grid p{ 
   display: none;
}
.grid  i{
    width: 100%;
    height: 100%;
    font-size: 35px;
}

/***fin section 3***/

/***section 4***/
.container-contact{
flex-direction: column;
}

.container-sendme-messenger {
  width: 100%;
  flex-direction: row;
}
.container-sendme-messenger h2{
    font-size: 35px;
}
.container-data-extra h4{
    width: 70%;
    font-size: 14px;
}
.container-data-extra h3{
    font-size: 18px;
}
.container-data-extra-social-networld a{
    width: 20%;
}
.container-data-extra-social-networld i{
    font-size: 20px;
}
.container-form{
    width: 90%;
    height: 100%;
    margin: 0;  
}
.form{
    width:75%;
    font-size: 20px;  
}
.form input {
    height: 15%;
    font-size:14px;
    margin: 1%;
}
.form textarea {
    font-size:14px;
}
.form input::placeholder {
    color: #fffa;
    font-size:14px;
}
button {
height: 15%;
margin: 5%;
}

/***fin section 4***/
.icono-test{
    top: 65%;
    left: 80%;
}
.icono-what{
    top: 83%;
    left: 80%;

}
}


